@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	min-height: 1000px;
	background: url(img/leaf.jpg);
}

html {
	scroll-behavior: smooth;
}


:root{
	--soft-shadow: -2px 26px 51px -5px rgba(0,0,0,0.51);
	--scale: scale(1.015);
	--dark-pink: #a488bd;
}

#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 999;
	overflow: visible;
	background: #000 url('img/loader.gif') no-repeat center center;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	z-index: 1000;
	transition: 0.6s;
}

header.sticky {
	padding: 5px 100px;
	background: #fff;
	border-bottom: 1px solid rgba(0,0,0,.1);
	box-shadow: var(--soft-shadow);
}

header .logo {
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}

header .logo:hover{
	opacity: 0.7;
}

header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	position: relative;
	list-style: none;
}

header ul li a{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 300;
	transition: 0.6s;
}
header ul li a:hover{
	opacity: .5;
}

/*
header ul li a::after{
	content: '';
	height: 3px;
	width: 0%;
	background: #dbffe8;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width 0.5s;
}

header ul li a:hover::after{
	width: 100%;
}*/

header.sticky .logo{
	color: #342f38;
}
header.sticky ul li a {
	color: #000;
}
header.sticky ul li a:hover{
	opacity: .5;
}


.toggle{
	display: none;

}
.team-section{
	position: relative;
	text-align: center;
}
.inner-width{
	font-family: 'Poppins', sans-serif;
	max-width: 1200px;
	margin: auto;
	padding: 40px;
	margin-top: 115px; 

	color: #333;
	justify-content: center;
	overflow: hidden;
}

.team-section h1,
.support-section h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	letter-spacing: 2px;
	/*border-bottom: 2px solid #e3be8d;*/
	padding-bottom: 5px;
	color: #fff;
	margin-bottom: 10px;
}

.pt{
	color: #Fff;
	filter: opacity(70%);
	padding-bottom: 12px;
	font-size: 20px;
}

.support-section{
	position: relative;
	text-align: center;
}
.support-width{
	max-width: 1200px;
	margin: auto;
	padding: 40px;
	margin-top: 20px; 

	color: #333;
	justify-content: center;
	overflow: hidden;
}
.pe{
	float: left;
	width: calc(100% / 3);

	overflow: hidden;
	padding: 30px 0;
	transition: 0.4s;
}

.pe img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
	transition: all .2s ease-in-out;
}

.pe img:hover{
	transform: var(--scale);
	box-shadow: var(--soft-shadow);
}
.p-name{
	margin: 12px 0;
	text-transform: lowercase;
	color: #fff;
	font-weight: 550;
	transition: 0.5s;
}

.p-name:hover{
	color: var(--dark-pink);
	transition: 0.5s;
}

.p-des{
	font-size: 14px;
	opacity: .5;
	color: #fff;
}
.p-sm{
	margin-top: 8px;
}
.p-sm a{
	margin: 0 4px;
	color: #fff;
	display: inline-block;
	width: 50px;
	height: 50px;
	transition: 0.4s;
}
.p-sm a:hover{
	transform: translateY(-2px);
	transition: 0.4s;
}
.p-sm a i{
	color: #333;
	line-height: 30px;
}


.fa-crown{
	color: #d9cb84;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 40px 20px 0px rgba(0,0,0,0.2);
		transform: translatey(-9px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(0px);
	}
}

section .wave{
	position: absolute;
	bottom: -490px;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(img/wave.png);
	background-size: 1000px 100px;
	overflow: hidden;
}
section .wave.wave1{
	z-index: 1000;
	opacity: 1;
	animation-delay: 0s;
	animation: lr 30s linear infinite;
}
section .wave.wave2{
	z-index: 998;
	opacity: 0.5;
	animation-delay: -2s;
	animation: lr2 15s linear infinite;

}
section .wave.wave3{
	z-index: 997;
	opacity: 0.3;
	animation-delay: -5s;
	animation: lr2 10s linear infinite;

}

@keyframes lr
{
	0%
	{
		background-position-x: 0; 
	}
	100%
	{
		background-position-x: 1000px; 
	}
}
@keyframes lr2
{
	0%
	{
		background-position-x: 0; 
	}
	100%
	{
		background-position-x: -1000px; 
	}
}
footer{
	width: 100%;
	position: relative;
	bottom: 0;
	background: #101213;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: #fff;
	padding: 20px;
}
.text{
	font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #d1d1d1;
    margin-bottom: 80px;
    margin: 20px auto;
}
.list-footer{
	margin: 20px auto;
	display: flex;
	list-style-type: none;
}
.list-footer li a{
	text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
	font-size: 20px;
	font-weight: 500;
	padding: 15px;
    transition: color 175ms ease-out 0s;
}

.list-footer li a:hover{
	color: #fff;
	animation: all ease 0.5s;
}
.social-media{
	margin: 20px auto;
	font-size: 20px;

}
.social-media a{
	margin: 20px;
	color: #fff;
	transition: 0.5s;
	/*transition: color .2s ease-out 0s;*/
}
.social-media a:hover{
	opacity: .8;
    transition: 0.5s;
}

.copyright{
	color: #fff;
	padding-top: 15px;
	opacity: .5;
}
.header2{
	font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    opacity: .5;
    margin-top: -12px;
}
.pes{
	float: left;
	width: calc(100% / 1);

	overflow: hidden;
	padding: 30px 0;
	transition: 0.4s;
}

.pes img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	transition: all .2s ease-in-out;
	box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
}
.pes img:hover{

	transform: var(--scale);
	box-shadow: var(--soft-shadow);
}

.copyright-text{
	font-size: 12px;
	display: flex;
	flex-direction: row;
	opacity: .2;
}
.copyright-text a{
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}
.credits{
	flex-direction: column;
	font-size: 11px;
	padding: 10px;
	padding-left: 14px;
	background: #101213;
}

.credits-p{
	color: #7289DA;
	font-weight: bold;
	transition: 0.2s;
	text-decoration: none;
}

.credits-p:hover{
	color: #697ab5;
	transition: 0.2s;
}

.credit-part{

	color: #fff;
}

.footer-img{
	transform: translateY(-100px);
	z-index: -1;
}